$title-color: white;
$page-bgc: #082263;
.App {
  .container {
    padding: 10vw 0vw 8vw;
    width: 100%;
    height: 100vh;
    background-color: $page-bgc;

    h1 {
      text-align: center;
      color: $title-color;
    }
  }
}
